<h1 align = center>Programming for Data Analytics Project 2</h1>
<h2 align = center>Stephen Caulfield</h2>
<h2 align = center>G00398240</h2>

<h2>Overview of Project</h2>
    <p>This project will investigate the Wisconsin Breast Cancer dataset. These are the requirements for the project</p>
<ul>
    <li>Undertake an analysis/review of the dataset and present an overview and background</li>
    <li>Provide a literature review on classifiers which have been applied to the dataset and compare their performance</li>
    <li>Present a statistical analysis of the dataset</li>
    <li>Using a range of machine learning algorithms, train a set of classifiers on the dataset (using SKLearn etc.) and present classification performance results. Detailing rationale for the parameter selections you made while training the classifiers.</li>
    <li>Compare, contrast and critique your results with reference to the literature</li>
    <li>Discuss and investigate how the dataset could be extended â€“ using data synthesis of new tumour datapoints</li>
</ul>

<h2>What is Breast Cancer?</h2>
<img src = https://www.cdc.gov/cancer/breast/basic_info/images/female-breast-diagram-750px.jpg?_=41558 align = right style="width:170x;height:170px;">
<p>Breast is one of many forms of Cancer. It happens when cells in the breast grow out of control. There are different types of breast cancer depending on which cells in the breast turn into cancer. The breast consists of three parts, being the lobules, ducts and connective tissue.</p>
<p>The breast cancer usually begins in the ducts or lobules and it can spread outside the breast of which it has then metastasized.</p>
<p>The most common types of breast cancer are:
    <ul>
        <li>Invasive ductal carcinoma where the cancer cell begins in the ducts and grow outside the ducts into other parts of breast tissue, and possibly into to other body parts</li>
        <li>invasive Lobular carcinoma where cancer begins in the lobules and spread the lobules to breast tissue nearby. This can also spread to other body parts</li>

<h2>Overview of Wisconsin Breast Cancer Dataset</h2>

<p>Dataset Title: Wisconsin Breast Cancer Database (January 8, 1991)</p>
<p>Source: Dr. WIlliam H. Wolberg (physician), University of Wisconsin Hospitals, Madison, Wisconsin, USA</p>

<h3>Attributes</h3>
<ol>
    <li>Sample code number: id number</li>
    <li>Clump Thickness: 1 - 10</li>
    <li>Uniformity of Cell Size: 1 - 10</li>
    <li>Uniformity of Cell Shape: 1 - 10</li>
    <li>Marginal Adhesion: 1 - 10</li>
    <li>Single Epithelial Cell Size: 1 - 10</li>
    <li>Bare Nuclei: 1 - 10</li>
    <li>Bland Chromatin: 1 - 10</li>
    <li>Normal Nucleoli: 1 - 10</li>
    <li>Mitoses: 1 - 10</li>
    <li>Class: (2 for benign, 4 for malignant)</li>
</ol>

<p>There are 16 instances of missing attributes in the data set, these will be not included in the analysis of the data set.</p>

<h2>Packages</h2>

In [3]:
import numpy as np

import pandas as pd

from pandas.plotting import scatter_matrix

import seaborn as sns

import random

from scipy.stats import norm

import statistics

import matplotlib.pyplot as plt

from scipy.stats import spearmanr
from scipy.cluster import hierarchy
from scipy.spatial.distance import squareform

<h2>Data set imported</h2>
<p>I am using the python package Pandas here to turn the data set into a dataframe that can be presented through python in a presentable fashion. It also provides a suitable platform for the data to be manipulated wherever I see fit.

In [19]:
file = "breast-cancer-wisconsin.data"

main_df = pd.read_csv(file, delimiter=",")

main_df.head()

   1000025  5   1  1.1  1.2  2 1.3  3  1.4  1.5  2.1
0  1002945  5   4    4    5  7  10  3    2    1    2
1  1015425  3   1    1    1  2   2  3    1    1    2
2  1016277  6   8    8    1  3   4  3    7    1    2
3  1017023  4   1    1    3  2   1  3    1    1    2
4  1017122  8  10   10    8  7  10  9    7    1    4

<p>I give titles to each column here</p>

In [18]:
main_df.columns = ["Sample ID Number", "Clump Thickness", "Uniformity of Cell Size", "Uniformity of Cell Shape", "Marginal Adhesion", "Single Epithelial Cell", "Bare Nuclei", "Bland Chromatin", "Normal Nuclei", "Mitoses", "Class"]

main_df.head()

,Sample ID Number,Clump Thickness,Uniformity of Cell Size,Uniformity of Cell Shape,Marginal Adhesion,Single Epithelial Cell,Bare Nuclei,Bland Chromatin,Normal Nuclei,Mitoses,Class
0,1002945,5,4,4,5,7,10,3,2,1,2
1,1015425,3,1,1,1,2,2,3,1,1,2
2,1016277,6,8,8,1,3,4,3,7,1,2
3,1017023,4,1,1,3,2,1,3,1,1,2
4,1017122,8,10,10,8,7,10,9,7,1,4

<h1>References</h1>
<ol>
    <li><a href = https://www.cdc.gov/cancer/breast/basic_info/what-is-breast-cancer.htm> CDC: Center for Disease Control and Prevention</a></li>
    <li><a href = https://archive.ics.uci.edu/ml/datasets/breast+cancer+wisconsin+(original)> UCI Machine Learning Repository: Breast Cancer Wisconsin (Original) Data Set</a></li>
    <li></li>
    <li></li>
    <li></li>
    <li></li>
    
</ol>
<h3>Python Packages</h3>
<ol>
    <li><a href = https://numpy.org/>Numpy</a></li>
    <li><a href = https://pandas.pydata.org/>Pandas</a></li>
    <li><a href = https://seaborn.pydata.org/>Seaborn</a></a></a></a></a></a></li>
    <li><a href = https://matplotlib.org/>MatPlotLib</a></li>
    <li><a href = https://docs.python.org/3/library/random.html>Random</a></li>
    <li><a href = https://docs.python.org/3/library/math.html>Math</a></li>
    <li><a href = https://scikit-learn.org/stable/>Sklearn</a></li>
    <li><a href = https://scipy.org/>Scipy</a></li>
</ol>